* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

header {
    background-image: url("IN-en-20240923-TRIFECTA-perspective_74e21c19-980e-45ef-bd6c-78c1a6ce9381_large.jpg");
    background-position: center center;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: max(1800px,100vw);
    position: relative;
    top: 0;
}

header .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

header .nav {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.logo {
    position: relative;
    z-index: 10;
}

.button {
    display: flex;
    direction: row;
    column-gap: 20px;
    position: relative;
    z-index: 10;
}

.button .button1 {
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    height: 50px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
}

.button .button2 {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
    height: 50px;
    width: 90px;
    font-size: 15px;
    font-weight: 700;
}

.button .button2:hover {
    background-color: transparent;
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    z-index: 10;
    height: 100%;
    text-align: center;
}

.content1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.content2 {
    font-size: 25px;
    font-weight: 300;
}

.content3 {
    font-size: 25px;
    font-weight: 300;
}

.email {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ROW;
    column-gap: 10px;
    position: relative;
    z-index: 10;
}

.email input {
    font-size: 20px;
    padding: 15px;
    border: 1px solid rgb(245, 238, 238);
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.email input::placeholder {
    color: white;
}

.email button {
    font-size: 18px;
    padding: 17px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

@media screen and (max-width: 465px) {
    .email {
        flex-wrap: wrap;
        row-gap: 15px;
        margin-bottom: 50px;
    }

    .content {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        position: relative;
        z-index: 10;
        height: 100%;
        text-align: center;
    }

    .content1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 800;
    }

    .content2 {
        font-size: 20px;
        font-weight: 300;
    }

    .content3 {
        font-size: 20px;
        font-weight: 300;
    }

}

.border {
    margin-bottom: 80px;
    border: 4px solid rgb(77, 71, 71);
}

main {
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
}

img{
    border-radius: 20px;
}
main span {
    font-size: 100px;
    font-weight: 100px;
    color: rgb(234, 225, 225);
    text-decoration-style: solid;
    position: relative;
}

.content4 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

footer {
    font-size: 20px;
    color: white;
    margin-top: 50px;
    text-align: center;
}

footer a {
    color: rgb(148, 136, 136);
}

.line1{
    margin-top: 40px;
    margin-bottom: 60px;
}

.line2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.line3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.line4{
    margin-top: 20px;
    margin-bottom: 20px;
}

.line5{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    height: 22vh;
    width: 80vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 40px;
    padding-left: 10vw;
    color: white;
}

.container h1 {
    font-size: 40px;
}

.container p {
    font-size: 30px;
}

.box1 {
    background-color: rgb(2, 2, 24);
    border: 1px solid rgb(2, 2, 24);
    border-radius: 20px;
    height: 18vw;
    width: 20vw;
    padding: 30px;
}

.box2 {
    background-color: rgb(2, 2, 24);
    border: 1px solid rgb(2, 2, 24);
    border-radius: 20px;
    height: 18vw;
    width: 20vw;
    padding: 30px;
}

.box3 {
    background-color: rgb(2, 2, 24);
    border: 1px solid rgb(2, 2, 24);
    border-radius: 20px;
    height: 18vw;
    width: 20vw;
    padding: 30px;
}

.box4 {
    background-color: rgb(2, 2, 24);
    border: 1px solid rgb(2, 2, 24);
    border-radius: 20px;
    height: 18vw;
    width: 20vw;
    padding: 30px;
}

@media screen and (max-width: 1400px) {

    .container h1 {
        font-size: 27px;
    }
    
    .container p {
        font-size: 23px;
    }
    
}

@media screen and (max-width: 1200px) {
    
    .container h1 {
        font-size: 21px;
    }
    
    .container p {
        font-size: 17px;
    }
    
}

@media screen and (max-width: 1055px) {
    
    .container h1 {
        font-size: 18px;
    }
    
    .container p {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 958px) {
    
    .container h1 {
        font-size: 16px;
    }
    
    .container p {
        font-size: 13px;
    }
    
}

@media screen and (max-width: 850px) {
    
    .container h1 {
        font-size: 14px;
    }
    
    .container p {
        margin-top: -10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 784px) {
    
    .container {
        height: 22vw;
        width: 80vw;
        margin-top: 60px;
        padding-bottom: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
        margin-bottom: 40px;
        padding-left: 10vw;
        color: white;
    }

    .container h1 {
        font-size: 14px;
    }
    
    .container p {
        margin-top: -10px;
        font-size: 12px;
    }
    
}

@media screen and (max-width: 580px) {
    
    .container {
        height: 22vw;
        width: 80vw;
        margin-top: 60px;
        padding-bottom: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        row-gap: 20px;
        margin-bottom: 40px;
        padding-left: 10vw;
        color: white;
    }

    .container h1 {
        margin-top: -15px;
        font-size: 12px;
    }
    
    .container p {
        margin-top: -30px;
        font-size: 10px;
    }
    
}

@media screen and (max-width: 406px) {
    
    .container {
        height: 22vh;
        width: 80vw;
        margin-top: 60px;
        padding-bottom: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        row-gap: 10px;
        margin-bottom: 40px;
        padding-left: 10vw;
        color: white;
    }

    .container h1 {
        margin-top: -20px;
        font-size: 12px;
    }
    
    .container p {
        margin-top: -35px;
        font-size: 10px;
    }

    .box1 {
        background-color: rgb(2, 2, 24);
        border: 1px solid rgb(2, 2, 24);
        border-radius: 10px;
        height: 25vw;
        width: 22vw;
        padding: 30px;
    }
    
    .box2 {
        background-color: rgb(2, 2, 24);
        border: 1px solid rgb(2, 2, 24);
        border-radius: 10px;
        height: 25vw;
        width: 22vw;
        padding: 30px;
    }
    
    .box3 {
        background-color: rgb(2, 2, 24);
        border: 1px solid rgb(2, 2, 24);
        border-radius: 10px;
        height: 25vw;
        width: 22vw;
        padding: 30px;
    }
    
    .box4 {
        background-color: rgb(2, 2, 24);
        border: 1px solid rgb(2, 2, 24);
        border-radius: 10px;
        height: 27vw;
        width: 22vw;
        padding: 35px;
    }
    
}

.dabba {
    margin-top: -20px;
    margin-bottom: 30px;
    height: 85vh;
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    color: white;
    font-size: 30px;
}

.dabba1{
    padding-left: 10px;
    padding-top: 2vh;
    background-color: rgb(48, 39, 39);
    border: 1px solid rgb(48, 39, 39) ;
    height: 6vh;
    width: 100%;
    margin-bottom: 2vh;
}

.dabba2{
    padding-left: 10px;
    padding-top: 2vh;
    background-color: rgb(48, 39, 39);
    border: 1px solid rgb(48, 39, 39) ;
    height: 6vh;
    width: 100%;
    margin-bottom: 2vh;
}

.dabba3{
    padding-left: 10px;
    padding-top: 2vh;
    background-color: rgb(48, 39, 39);
    border: 1px solid rgb(48, 39, 39) ;
    height: 6vh;
    width: 100%;
    margin-bottom: 2vh;
}

.dabba4{
    padding-left: 10px;
    padding-top: 2vh;
    background-color: rgb(48, 39, 39);
    border: 1px solid rgb(48, 39, 39) ;
    height: 6vh;
    width: 100%;
    margin-bottom: 2vh;
}

.dabba5{
    padding-left: 10px;
    padding-top: 2vh;
    background-color: rgb(48, 39, 39);
    border: 1px solid rgb(48, 39, 39) ;
    height: 6vh;
    width: 100%;
    margin-bottom: 2vh;
}

@media screen and (max-width: 520px) {
    
    .dabba {
        color: white;
        font-size: 20px;
        margin-top: -120px;
        margin-bottom: -80px;
    }
}
.foot ul{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.foot ul li {
    list-style: none;
}

